label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 3px solid #8b98a7;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 25px; /* Define a borda arredondada */
    background-color: #8b98a7; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

span {
    padding: 10px 10px;
    font-size: 16px;
    border: none;
    border-radius: 25px; /* Define a borda arredondada */
    background-color: #8b98a7; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 150px;
}

#options button {
    margin: 5px;
}

#recompensa {
    text-align: center;
    margin-top: 20px;
}