label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 3px solid #8b98a7;
    border-radius: 10px;
}

#quadro2Kanjis {
    width: 320px; /* ou o tamanho desejado */
    height: auto; /* ou o tamanho desejado */
    background-color: #ffffff; /* Cor de fundo do quadro */
    border: 3px solid #ccc; /* Borda do quadro */
    border-radius: 10px;
    float: left; /* Alinha à direita do container principal */
    padding: 10px;
}

/* Quadro Dos Kanjis */
#quadroKanjis {
    width: 320px; /* ou o tamanho desejado */
    height: auto; /* ou o tamanho desejado */
    background-color: #ffffff; /* Cor de fundo do quadro */
    border: 3px solid #ccc; /* Borda do quadro */
    border-radius: 10px;
    float: right; /* Alinha à direita do container principal */
    padding: 10px;
}

/* Kanji Dentro do Quadro */
.kanjiQuadro {
    width: 30px;
    height: auto;
    font-size: 24px;
    text-align: center;
    line-height: 30px;
    margin: 5px;
    background-color: #ffffff; /* Cor de fundo dos kanjis */
    border: 1px solid #ccc; /* Borda dos kanjis */
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
}

.kanjiQuadro.acendido {
    background-color: #00ff00; /* Cor quando o kanji é acendido */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 25px; /* Define a borda arredondada */
    background-color: #8b98a7; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

span {
    padding: 10px 10px;
    font-size: 16px;
    border: none;
    border-radius: 25px; /* Define a borda arredondada */
    background-color: #8b98a7; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 150px;
}

#options button {
    margin: 5px;
}