body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 25px; /* Define a borda arredondada */
    background-color: #8b98a7; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

span {

    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 25px; /* Define a borda arredondada */
    background-color: #8b98a7; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    text-align: center;
    text-decoration: none;
    cursor: pointer;

}

#options button {
    margin: 5px;
}

#recompensa {
    text-align: center;
    margin-top: 20px;
}